* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

h1 {
  text-align: center;
  color: darkred;
  font-size: 7vw;
}
/* @media (min-width: 1600px;) {
    body {
        background-size: cover

    }
/*    main {
    width: 900px;
    height: auto;
  };
}

@media (min-width: 600px;) and (max-width:1199px;) {
    body {
        background-image: url(../images/lib_bkg_1280.jpg);

    }
    main {
    width: 900px;
    height: auto;
  };
} */
body {
    background-image: url(../images/lib_bkg_1920.jpg);
    background-position: center;
    background-attachment: fixed;
    margin: auto;
}

@media screen and (min-width:1000px) {
body {
    background-size: cover;
}}


main {
    text-align: center;
    width: 70%;
    height: auto;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}
main *{
    font-size: 2vw;
}

main > section.bookmark-stack{
    flex-grow: 2;
}
button , .add-filter-forms {
    background-color: transparent;
    height: 100%;
    display: inline-block;
}

#js-add-bookmark-description{
    width: 100%;
    /* set height according to screen */
    height: 150px;    
}
.add-bookmark-expand-button, .filter-bookmarks-button, .title-rating-bookmark, .btn {
  display: inline;
  height: auto;
  border: none;
  color: black;
  cursor: pointer;
  text-align: center;
}

.add-bookmark-expand-button, .filter-bookmarks-button, .add-bookmark-button {
    width: 50%;
}
.visit-site-button {
    width: 100%;
    border-radius: 12px;
}
.title-rating-bookmark {
    width: 85%;
}
.btn {
    width: 15%;
    position: relative;
    /* top: 50%; */
}

a {
    height: 100%;
}
i {
    max-width: 100;
}

.add-bookmark-expand-button, .title-rating-bookmark, #js-add-bookmark-url {
  float: left;
}
.filter-bookmarks-button, .btn {
  float: right;
}

.description {
    text-align: left;
    padding: 2%;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.contentShow {
    max-height: content.scrollHeight px;
    transition: max-height 0.2s ease-out;
}
.expanded-bookmark {
    padding: 0 18px;
}

p {
    max-width: 50%;
    overflow-wrap: anywhere;
    word-wrap: break-word;
}
main *{
  /* margin: auto; */
  background-color: rgba(255, 255, 255, .9;

}

div .title-div {
    width: 100%;
  }


.bookmark-stack {
  width: 100%;
}

.add-filter-forms {
    padding: ;
    max-height: scrollHeight px;
    /* overflow: hidden; */
    transition: max-height 0.0s ease-out;
    background-color: ;
}



.title-div {
    cursor: pointer;
}