* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

h1 {
  text-align: center;
}
body {
background-image: url(../images/lib_bkg_1280.jpg);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
    text-align: center;
    width: 300px;
    height: auto;
    background-color: rgba(255, 255, 255, .6);
  border-radius: 12px;
    /* margin: auto; */
    /* display: flex;
    flex-direction: column;
    justify-content: safe center; */
}

@media (min-width: 900px;) {
  main {
    width: 900px;
    height: auto;
  };
}

button .add-bookmark-expand-button .filter-bookmarks-button {
  display: inline-block;
  width: 50%;
  height: 30px;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
button .add-bookmark-expand-button {
  float: left;
}
button .filter-bookmarks-button {
  float: right;
}
/* main *{
  margin: auto;
  background-color: rgba(255, 255, 255, .6);
  height: auto;
} */






section .add-filter-bookmarks {
  width: 100%;
}




section .bookmark-stack {
  width: 100%;
}

.add-filter-forms {
    padding: ;
    max-height: scrollHeight px;
    /* overflow: hidden; */
    transition: max-height 0.0s ease-out;
    background-color: ;
}

.content {
    padding: ;
    max-height: 0;
    /* overflow: hidden; */
    transition: max-height 0.0s ease-out;
    background-color: ;
}

.title-div {
    cursor: pointer;
}
  </style>
