 


body {
background: url(images/lib_bkg_1280.jpg);
font-family: 'Noto Sans KR', sans-serif;
}all and (min-width: )

.add-filter-forms {
    padding: ;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.0s ease-out;
    background-color: ;
}

.content {
    padding: ;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.0s ease-out;
    background-color: ;
}

.title-div {
    cursor: pointer;
}